.movies .MuiPaper-root {
  background-color: transparent !important;
  color: #fff;
}
.MuiListItemText-root,
.MuiListItemIcon-root {
  color: #fff !important;
}
.MuiCardContent-root:last-child,
.MuiTypography-colorTextSecondary {
  color: #fff !important;
}
.MuiPaper-elevation1 {
  box-shadow: none !important;
}
.filter .MuiList-root {
  background: #fff !important;
}
.MuiSvgIcon-root.MuiSelect-icon {
  color: #e6e6e6;
}
.MuiInput-underline:after,
.MuiInput-underline:before {
  border-bottom: 2px solid #e6e6e6 !important;
}
